* @macrosynergy/package-maintainers

/macrosynergy/pnl/* @macrosynergy/package-maintainers
/macrosynergy/signal/* @macrosynergy/package-maintainers
/macrosynergy/panel/* @macrosynergy/package-maintainers

/docs/scripts/* @Magnus167 @macrosynergy/package-maintainers
/macrosynergy/download/* @Magnus167 @macrosynergy/package-maintainers
/macrosynergy/visuals/* @Magnus167 @macrosynergy/package-maintainers


/macrosynergy/learning/* @rushilg99 @macrosynergy/package-maintainers
