numpy >= 1.24.1,<2.0.0
pandas >= 2.0.2
statsmodels >= 0.14.1
scikit-learn >= 1.3.2
linearmodels >= 4.28

matplotlib >= 3.6.0
seaborn >= 0.12.2

requests >= 2.27.1
tqdm >= 4.62
Jinja2 >= 3.0.0
joblib >= 1.3.0