
.bd-header-announcement  {
    /* set the background color to black */
    background-color: #000000;
}

/* rounded image  */
.bd-header-announcement-img {
    border-radius: 4%;
}

/* @sandresen1's color rgb(194, 18, 185) */
code {
    color: rgb(194, 18, 185)
}

a>code {
    color: rgb(194, 18, 185)
}


.bd-container__inner.bd-page-width {
    max-width: 80%;
}


.bd-sidebar-primary {
    flex-basis: content;
}

.bd-content {
    width: 100em;
    text-align: justify;
} 

/* class="toctree-toggle" for="toctree-checkbox-1" aria-hidden="true" â† this is the collapsible menu button; make it open by default */
.toctree-l1.toctree-l1-current > .current > .toctree-toggle {
    display: block !important;
    visibility: visible !important;
}