name: Sphinx documentation - check build

on:
  # Runs on pushes targeting the default branch
  pull_request:
    branches: [main, test, develop, v1.0.0dev]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Single deploy job since we're just deploying
  build-docs-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install flake8
          pip install .[docs]

      - name: Run Flake8
        run: |
          # Options: exluding docs, scripts and build folders. Also, treating certain errors as warnings.
          flake8 --count --select=E9,F63,F7,F82 --show-source --exclude=./docs/**,./.github/scripts/*,./build/** --statistics
          flake8 --count --exit-zero --max-complexity=10 --max-line-length=127 --exclude=./docs/**,./.github/scripts/*,./build/** --statistics

      - name: Build docs
        run: |
          python docs/gen.py
