name: Package documentation - check build

on:
  # Runs on pushes targeting the default branch
  pull_request:
    branches: [main, test, develop]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Single deploy job since we're just deploying
  build-docs-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore caches
        uses: ./.github/actions/restore-pip-cache
        with:
          python-version: 3.11

      - name: Run Flake8
        run: |
          # Options: exluding docs, scripts and build folders. Also, treating certain errors as warnings.
          flake8 --count --select=E9,F63,F7,F82 --show-source --exclude=./docs/**,./.github/scripts/*,./build/** --statistics
          flake8 --count --exit-zero --max-complexity=10 --max-line-length=127 --exclude=./docs/**,./.github/scripts/*,./build/** --statistics

      - name: Build docs
        run: |
          bash docs/scripts/build.sh
