# Runs integration tests on the package

name: Python Integration tests

on:
  pull_request:
    branches: [main, test, develop]
  workflow_dispatch:

concurrency:
  group: "integration-tests"

jobs:
  run-integration-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Restore caches
        uses: ./.github/actions/restore-pip-cache
        with:
          python-version: 3.11

      - name: Run integration tests with pytest
        env:
          DQ_CLIENT_ID: ${{ secrets.DQ_CLIENT_ID }}
          DQ_CLIENT_SECRET: ${{ secrets.DQ_CLIENT_SECRET }}
          FUSION_CLIENT_ID: ${{ secrets.FUSION_CLIENT_ID }}
          FUSION_CLIENT_SECRET: ${{ secrets.FUSION_CLIENT_SECRET }}
        run: |
          echo 'Run Integration tests'
          python -m pytest -n 1 tests/integration/
          echo 'Integration test complete'

      - name: Test build settings
        run: |
          python -m pip install .[all] 
          python -c "import macrosynergy; print(macrosynergy.__version__)"
